/* Coolors Exported Palette - coolors.co/00dd00-3c91e6-393d3f-ffffff-d8dad3 */

/* HSL */
$color1: hsla(120%, 100%, 43%, 1);
$color2: hsla(210%, 77%, 57%, 1);
$color3: hsla(200%, 5%, 24%, 1);
$color4: hsla(0%, 0%, 100%, 1);
$color5: hsla(77%, 9%, 84%, 1);

/* RGB */
$color1: #00dd00;
$color2: #3c91e6;
$color3: #393d3f;
$color4: #ffffff;
$color5: #d8dad3;