body {
    padding-top: 56px;
    //font: 400 15px Zurich, sans-serif;
}

.section+.section
{
    padding-top: 80px;
    margin-bottom: -40px;
    
}
.section, #contact
{
    margin-bottom: 0px !important;
}

img.app 
{
    border-radius: 22%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important; // regular bootstrap shadow
}

.large-icons
{
    font-size: 3em;

    a {
        text-decoration: none;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

h2 
{
    margin-bottom: 0.5em;
}

.container, .container-fluid
{
    .row+.row
    {
        margin-top: 2vh;
    }
}

@media(min-width:768px)
{
    #spotlight .card-deck, #development .card-deck
    {
        .card
        {
            max-width: 30vw;
        }
    }
}

.instagram-media
{
    width: 100% !important;
    max-width: none !important;
    border: none !important;
    margin: 0 !important;
    
    a.Username>span.UsernameText
    {
        max-width: 100% !important;
    }
}
.twitter-timeline
{
    height: 100% !important;
}

.card
{
    overflow: hidden;
    margin-bottom: 2vh !important;
    img
    {
        margin-bottom: 2vh;
    }
    
}
.twitter-card div.card-body
{
    flex: 1 1 0;
}

@media(max-width:767px)
{
    #social-media .twitter-card
    {
        height: 80vh;
    }
}