body {
    padding-top: 56px;
    //font: 400 15px Zurich, sans-serif;
}

.section+.section
{
    padding-top: 80px;
    margin-bottom: -40px;
    
}
.section, #contact
{
    margin-bottom: 0px !important;
}

div.card-deck 
{
    .card-img
    {
        margin-bottom: 5%;
    }
}

img.app 
{
    border-radius: 22%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important; // regular bootstrap shadow
}

.large-icons
{
    font-size: 3em;

    a {
        text-decoration: none;
    }
}

h2 
{
    margin-bottom: 0.5em;
}

.container, .container-fluid
{
    .row+.row
    {
        margin-top: 5%;
    }
}

@media(min-width:768px)
{
    .card-deck
    {
        .card
        {
            max-width: 30vw;
        }
    }
}